<form method="post" action="{{ path('admin_quotation_delete', {'id': quotation.id}) }}" onsubmit="return confirm('Voulez vous vraiment archiver ce devis ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ quotation.id) }}">
    <button class="btn">Archiver</button>
</form>
