{% extends 'base.html.twig' %}

{% block page_title %}Quotations
{% endblock %}

{% block page_content %}
	<h1>Vos devis</h1>
	{% include '_partials/_bills.index.html.twig' with {'items': quotations, 'type':"quotation"}%}

	<a href="{{ path('admin_quotation_new') }}">Create new</a>
{% endblock %}

