{% extends 'base.html.twig' %}

{% block page_title %}Quotations
{% endblock %}

{% block page_content %}
	<h1>Quotation index</h1>
	{# a changer suivant le role de l'utilisateur #}
	<a href="{{ path('admin_quotation_new') }}">Create new</a>
	{% include '_partials/_quotation.index.html.twig' with {'quotations': quotations}%}
{% endblock %}