{% extends 'base.html.twig' %}

{% block title %}Edit Quotation{% endblock %}

{% block body %}
    <h1>Edit Quotation</h1>

    {{ include('quotation/_form.html.twig', {'button_label': 'Update'}) }}

    <a class='block h-8' href="{{ path('front_quotation_index') }}">Retour aux devis</a>

    {{ include('quotation/_delete_form.html.twig') }}
{% endblock %}
