{% extends 'base.html.twig' %}

{% block title %}New Quotation{% endblock %}

{% block body %}
    <h1>Create new Quotation</h1>

    {{ include('quotation/_form.html.twig') }}

    <a href="{{ path('app_quotation_index') }}">back to list</a>
{% endblock %}
