{% extends 'base.html.twig' %}

{% block title %}Edit Service{% endblock %}

{% block page_content %}
    <h1>Edit Service</h1>

    {{ include('user/service/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('user_app_service_index') }}">back to list</a>

    {{ include('user/service/_delete_form.html.twig') }}
{% endblock %}