{% extends 'user/default/form.html.twig' %}

{% block page_title %}Ajouter une prestation - ArtBill{% endblock %}
{% block page_header %}
    <p class="text-2xl font-bold">Ajouter une prestation</p>
    <div class="flex justify-end gap-3 text-sm">
        <div class="h-9 flex justify-center items-center gap-1.5 border shadow-sm rounded-md p-3 bg-primary text-white">
            <icon name="check" display="solid" color="white" size="4"></icon>
            <input type="submit" value="Enregistrer">
        </div>
    </div>
{% endblock %}

{% block form %}
    {% set fields = {
        'label': 'Libellé',
        'description': 'Description',
        'price': 'Prix',
        'vat_rate': 'Taux de TVA',
        'category': 'Catégorie',
    } %}

    {% for field, label in fields %}
        <div class="w-72 flex flex-col">
            {{ form_label(form[field], label) }}
            {{ form_widget(form[field]) }}
            {{ form_errors(form[field]) }}
        </div>
    {% endfor %}
{% endblock %}