{% extends 'base.html.twig' %}

{% block title %}New Invoice
{% endblock %}

{% block body %}
	<h1>Create new Invoice</h1>

	{{ include('superadmin/invoice/_form.html.twig') }}

	<a href="{{ path('superadmin_invoice_index') }}">back to list</a>
{% endblock %}
