{% extends 'user/default/sheet.html.twig' %}

{% block page_title %}Fiche catégorie de prestation - ArtBill{% endblock %}

{% block page_header %}
    <p class="text-2xl font-bold">Fiche catégorie de prestation</p>
{% endblock %}

{% block sheet %}
    <p class="text-lg font-bold mb-1">Informations</p>

    <div class="w-full flex">
        <div class="w-1/4 text-xs text-gray-500">
            Libellé
        </div>
        <div class="flex-1">
            {{ category.label }}
        </div>
    </div>

    <div class="w-full flex">
        <div class="w-1/4 text-xs text-gray-500">
            Date et heure de création
        </div>
        <div class="flex-1">
            {{ category.createdAt|date('d/m/Y à H') }}h{{ category.createdAt|date('i') }}
        </div>
    </div>
{% endblock %}
