{% extends 'base.html.twig' %}

{% block page_content %}
    <div id="form">
        <div class="flex flex-col gap-4 overflow-y-auto text-sm m-6">
            {% block form %}{% endblock %}
        </div>
        <div class="flex flex-col gap-4 overflow-y-auto text-sm m-6">
            {% block form_extra %}{% endblock %}
        </div>
    </div>
{% endblock %}
