<form method="post" action="{{ path('superadmin_service_delete', {'id': service.id}) }}" onsubmit="return confirm('Voulez vous vraiment supprimer cette prestation ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ service.id) }}">
    <button class="btn"><icon name="trash" display="solid" color="white" size="4"></icon></button>
</form>
