{% extends 'base.html.twig' %}

{% block title %}Quotation index
{% endblock %}

{% block page_content %}
	<h1>Quotation index</h1>
	<a href="{{ path('user_quotation_new') }}">Create new</a>
	{% include '_partials/_quotation.index.html.twig' with {'quotations': quotations}%}
{% endblock %}
