{% extends 'base.html.twig' %}

{% block title %}Devis{% endblock %}

{% block page_content %}
	<h1>Quotation index</h1>
	{% include '_partials/_bills.index.html.twig' with {'items': quotations, 'type':"quotation"}%}
    <a href="{{ path('user_quotation_new') }}" class="text-blue-500 hover:text-blue-700">Créer un nouveau devis</a>
{% endblock %}
