@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Utility */

.init {
    display: none;
}

/* Scrollbar */

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-thumb {
    background-color: #9B9B9B;
    border-radius: 6px;
}

/* Button */

.btn {
    @apply transition-all ease-in-out duration-100;
}

.btn:hover {
    @apply brightness-90 transition-all ease-in-out duration-100;
}

/* Icon */

#sidebar li svg {
    @apply stroke-gray-700;
}

/* Transition */

.transition-normal {
    @apply transition-all ease-in-out duration-300;
}

.transition-fast {
    @apply transition-all ease-in-out duration-100;
}

/* Table */

table th {
    @apply font-normal;
}

table td {
    @apply max-w-sm;
}

table tr .justify-end div {
    @apply invisible opacity-0 transition-all ease-in-out duration-100;
}

table tr:hover .justify-end div {
    @apply visible opacity-100 transition-all ease-in-out duration-100;
}

table tbody tr {
    @apply transition-all ease-in-out duration-100;
}

table tbody tr:not(:last-child) {
    @apply border-b;
}

table tbody tr:hover {
    @apply bg-gray-100 transition-all ease-in-out duration-100;
}

/* Form */

#form label {
    @apply text-xs text-gray-500;
}

#form input[type="text"],
#form input[type="email"],
#form input[type="password"],
#form input[type="number"],
#form input[type="date"] {
    @apply border rounded-md text-sm outline-primary px-2 py-1;
}

#form input[type="text"]:focus,
#form input[type="email"]:focus,
#form input[type="password"]:focus,
#form input[type="number"]:focus,
#form input[type="date"]:focus {
    @apply border-primary;
}

#form select {
    @apply border rounded-md text-sm outline-primary px-2 py-1;
}

#form select:focus {
    @apply border-primary;
}
