<form method="post" action="{{ path('admin_invoice_delete', {'id': invoice.id}) }}" onsubmit="return confirm('Voulez vous vraiment archiver cette facture ?');">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ invoice.id) }}">
	<button class="btn">Archiver</button>
</form>
