{% extends 'base.html.twig' %}

{% block page_title %}Invoices
{% endblock %}

{% block page_content %}
	<h1>Vos factures</h1>
	{% include '_partials/_bills.index.html.twig' with {'items': invoices, 'type': "invoice"}%}
</table>

<a href="{{ path('admin_invoice_new') }}">Create new</a>{% endblock %}
