{% extends 'base.html.twig' %}

{% block title %}New Category{% endblock %}

{% block page_content %}
    <h1>Create new Category</h1>

    {{ include('admin/category/_form.html.twig') }}

    <a href="{{ path('admin_category_index') }}">back to list</a>
{% endblock %}
