<h1>Activez votre compte</h1>
<p>Bonjour {{ user.firstname }},</p>
<p>Votre inscription sur le site Arbill à été effectuer</p>
<p><a href="{{ url('app_login') }}">Veuillez vous connecter ici</a></p>
<p>Ce lien expirera dans 3 heures</p>