<form method="post" action="{{ path('superadmin_quotation_delete', {'id': quotation.id}) }}" onsubmit="return confirm('Voulez vous vraiment archiver ce devis ?');">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ quotation.id) }}">
    <button class="btn"><icon name="trash" display="solid" color="white" size="4"></icon></button>
</form>
