{% extends "base_blank.html.twig" %}

{% block title %}Page non trouvée{% endblock %}

{% block page_content %}
    <main class="container mx-auto">
        <section class="flex justify-center items-center h-screen">
            <div class="text-center">
                <h1 class="text-4xl font-bold text-red-500 mb-4">Page non trouvée</h1>
                <p class="text-lg text-gray-700">La page que vous recherchez n'a pas été trouvée.</p>
            </div>
        </section>
    </main>
{% endblock %}
